## Any un needed file any where in the project file structure.
*.class
*.tmp
*.jar
*.html
*.png
*.json
*.csv
*.DS_Store

## target folder at the top level of the project structue and paths and contents underneath it
target/
target/*



## target folder at any level of the project structue
**/target
/target 
.idea/uiDesigner.xml
.idea/copyright/Mani.xml
.idea/copyright/profiles_settings.xml
src/main/resources/static/*
target/surefire-reports/com.audit.myexpense.MyExpenseApplicationTests.txt
target/surefire-reports/TEST-com.audit.myexpense.MyExpenseApplicationTests.xml
