<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>My Expense Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- See configuration in WebMvConfig.java -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />


<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="js/expese.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel=icon href=img/ExpenseLogo.png type="image/png">
<link rel="stylesheet" href="css/expense.css">
</head>

<body>
	<!--  header -->
	<div class="container noprint">
		<div class="row">
			<div class="col-sm-4">
				<img src="img/Expenseheader.png" class="img-rounded"
					alt="Expensetracker" width="100" height="100">
			</div>
			<div class="col-sm-4 headertext">My Expense Tracker</div>
			<div class="col-sm-4 text-right print">
				<a class="fa fa-print print" href="#"
					onclick="printDiv('printExpense')"></a>
			</div>
		</div>
		<hr class="bg-warning">
	</div>

	<!--  Add expense -->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 ">
				<div class="row">
					<div class="col-sm-4 aligncenter">
						<button type="button" class="btn expbtn" data-toggle="collapse"
							data-target="#addPersonalInfo">Add Personal Info</button>
					</div>
					<div class="col-sm-4 aligncenter">
						<button type="button" class="btn expbtn" data-toggle="collapse"
							data-target="#addAssetInfo">Add Asset Info</button>
					</div>
					<div class="col-sm-4 aligncenter">
						<button type="button" class="btn expbtn" data-toggle="collapse"
							data-target="#addIncome">Add Income</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6 ">
				<div class="row">
					<div class="col-sm-4 aligncenter">
						<button type="button" class="btn expbtn" data-toggle="collapse"
							data-target="#addExpense">Add Expense</button>
					</div>
					<div class="col-sm-4 aligncenter">
						<button type="button" class="btn expbtn" data-toggle="collapse"
							onclick="displayPersonalData()" data-target="#personalInfo">View
							Personal Info</button>
					</div>
					<div class="col-sm-4 aligncenter">
						<button type="button" class="btn expbtn" data-toggle="collapse"
							onclick="displayAssetData()" data-target="#assetInfo">View
							Asset Info</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<hr class="bg-warning">
			</div>
		</div>
		<!-- add personal Info -->
		<div id="addPersonalInfo" class="container collapse">
			<div class="row">
				<div class="col-sm-12">
					<p class="header">Add personal Info</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="docName">Document
								Name:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="docName"
								name="docName">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="docNumber">Document
								Number:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="docNumber"
								name="docNumber">
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label" for="docValidity">Document Validity:</label>
						</div>
						<div class="col-sm-6 ">
							<input type="date" class="form-control" id="docValidity"
								name="docValidity" min="2021-01-01">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="personalRemarks">Remarks:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="personalRemarks"
								name="personalRemarks">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 header">
					<button type="button" class="btn expbtn btn-sm"
						name="savePersonalInfo" id="savePersonalInfo"
						onclick="addPersonalInfo()">Save Personal Info</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="displaymsg" id="createPersonalDetailId"></div>
				</div>
			</div>
			<hr class="bg-warning">
		</div>
		<!-- View personal Info -->
		<div id="personalInfo" class="container collapse">
			<div class="row">
				<div class="col-sm-8">
					<p class="header">My personal Info</p>
				</div>
				<div class="col-sm-4 noprint">
					<button type="button" class="btn btn-sm" name="printPersonalDetail"
						id="printPersonalDetail" onclick="printPersonalDetail()">print</button>
				</div>
			</div>
			<div id="personalDetailTable" class="row">
				<div class="col-sm-12">
					<table class="table table-hover">
						<thead>
							<tr class="bg-warning">
								<th>ID</th>
								<th>Name</th>
								<th>Number</th>
								<th>Validity</th>
								<th>Remarks</th>
								<th style="width: 5%" class="noprint"></th>
							</tr>
						</thead>
						<tbody id="thPersonalDetailBody">
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="displaymsg" id="deletePersonalDetailstatus"></div>
				</div>
			</div>
			<hr class="bg-warning">
		</div>
		<!-- Asset Details -->
		<div id="addAssetInfo" class="container collapse">
			<div class="row">
				<div class="col-sm-12">
					<p class="header">Add Asset Info</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="assetName"> Name:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="assetName"
								name="assetName">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="assetNumber"> Number:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="assetNumber"
								name="assetNumber">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="boughtOn">Bought On:</label>
						</div>
						<div class="col-sm-6 ">
							<input type="date" class="form-control" id="boughtOn"
								name="boughtOn" min="2011-01-01">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="assetType"> Asset
								Type:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="assetType"
								name="assetType">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="assetQuantity">
								Quantity:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="assetQuantity"
								name="assetQuantity">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="currentValue"> Value :</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="currentValue"
								name="currentValue">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="assetRemarks"> Remarks
								:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="assetRemarks"
								name="assetRemarks">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 header">
					<button type="button" class="btn expbtn btn-sm"
						name="saveAssetInfo" id="saveAssetInfo" onclick="addAssetInfo()">Save
						Asset Info</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="displaymsg" id="createdAssetId"></div>
				</div>
			</div>
			<hr class="bg-warning">
		</div>
		<!-- View Asset Details -->
		<div id="assetInfo" class="container collapse">
			<div class="row">
				<div class="col-sm-8">
					<p class="header">My Asset Info</p>
				</div>
				<div class="col-sm-4 noprint">
					<button type="button" class="btn btn-sm" name="printAssetDetail"
						id="printAssetDetail" onclick="printAssetDetail()">print</button>
				</div>
			</div>
			<div id="assetDetailTable" class="row">
				<div class="col-sm-12">
					<table class="table table-hover">
						<thead>
							<tr class="bg-warning">
								<th>ID</th>
								<th>Asset Name</th>
								<th>Asset Bill Number</th>
								<th>Bought On</th>
								<th>Asset Type</th>
								<th>Asset Qty</th>
								<th>Asset Value</th>
								<th>Remarks</th>
								<th style="width: 5%" class="noprint"></th>
							</tr>
						</thead>
						<tbody id="thAssetDeatilBody">
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="displaymsg" id="deleteAssetDetailstatus"></div>
				</div>
			</div>
			<hr class="bg-warning">
		</div>
		<!-- Add Expense -->
		<div id="addExpense" class="collapse">
			<div class="row">
				<div class="col-sm-12">
					<p class="header">Add Expense Details</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="expenseDate">Expense
								Date:</label>
						</div>
						<div class="col-sm-6 ">
							<input type="date" class="form-control" id="expenseDate"
								name="expenseDate" min="2021-01-01">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="expenseType">Expense
								Type:</label>
						</div>
						<div class="col-sm-6">
							<select class="form-control" name="expenseType" id="expenseType">
								<option value=""></option>
								<option value="Home">Home</option>
								<option value="Individual">Individual</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="plannedExpense">Planned
								Expense:</label>
						</div>
						<div class="col-sm-6">
							<select class="form-control" name="plannedExpense"
								id="plannedExpense">
								<option value=""></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="description">Description:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="description"
								name="description">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="expenseAmount">Expense
								Amount:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="expenseAmount"
								name="expenseAmount">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 header">
					<button type="button" class="btn expbtn" onclick="createExpense()">Create
						Expense</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="displaymsg" id="createstatus"></div>
				</div>
			</div>
			<hr class="bg-warning">
		</div>

		<div id="addIncome" class="collapse">
			<div class="row">
				<div class="col-sm-12">
					<p class="header">Add Income Details</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="incomeDate">Income
								Date:</label>
						</div>
						<div class="col-sm-6 ">
							<input type="date" class="form-control" id="incomeDate"
								name="incomeDate" min="2021-01-01">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="incomeSource">Income
								source:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="incomeSource"
								name="incomeSource">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6 text-right">
							<label class="label required" for="incomeAmount">Income
								Amount:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="incomeAmount"
								name="incomeAmount">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 header">
					<button type="button" class="btn expbtn" onclick="createIncome()">Create
						Income</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="displaymsg" id="createIncomestatus"></div>
				</div>
			</div>
			<hr class="bg-warning">
		</div>
	</div>
	<!--  view Income -->
	<div class="container">
		<div id="printIncome" class="row">
			<div class="col-sm-12">
				<p class="header">
					Income Details<span id="incomeMonth"></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="displaymsg" id="deleteIncomestatus"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4 text-right">
						<label class="label" for="year">Income Year:</label>
					</div>

					<div class="col-sm-6">
						<input class="form-control" type="month" id="incomemonth"
							min="2021-01">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4">
						<button type="button" class="btn expbtn btn-sm" name="search"
							id="search" onclick="searchIncome()">Search</button>
					</div>
				</div>
			</div>
		</div>
		<div id="incometable" class="row">
			<div class="col-sm-12">
				<table class="table table-hover">
					<thead>
						<tr class="bg-warning">
							<th>ID</th>
							<th>Year</th>
							<th>Month</th>
							<th>Income Date</th>
							<th>Description</th>
							<th>Income Amount</th>
							<th style="width: 5%" class="noprint"></th>
						</tr>
					</thead>
					<tbody id="thIncomeBody">
					</tbody>
				</table>
			</div>
		</div>
		<hr class="bg-warning">
	</div>

	<!-- view expense -->
	<div class="container">
		<div id="printExpense" class="row">
			<div class="col-sm-12">
				<p class="header">
					Expense Details<span id="expMonth"></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="displaymsg" id="deletestatus"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4 text-right">
						<label class="label" for="year">Expense Year:</label>
					</div>

					<div class="col-sm-6">
						<input class="form-control" type="month" id="month" min="2021-01">
					</div>
					<div class="col-sm-4 text-right">
						<label class="label" for="plannedExpense">Planned Expense:</label>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4">
						<select class="form-control" name="plannedExpenseSearch"
							id="plannedExpenseSearch">
							<option value="">Both</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn expbtn btn-sm" name="search"
							id="search" onclick="searchExpense()">Search</button>
					</div>
				</div>
			</div>
		</div>
		<div id="expensetable" class="row">
			<div class="col-sm-12">
				<table class="table table-hover">
					<thead>
						<tr class="bg-warning">
							<th>ID</th>
							<th>Year</th>
							<th>Month</th>
							<th>Expense Date</th>
							<th>Expense Type</th>
							<th>Planned Expense</th>
							<th>Description</th>
							<th>Expense Amount</th>
							<th style="width: 5%" class="noprint"></th>
						</tr>
					</thead>
					<tbody id="tBody">
					</tbody>
				</table>
			</div>
		</div>
		<div id="expsummary" hidden="true">
			<div class="row">
				<div class="col-sm-12">
					<b>Planned Expense : </b><span id="plannedExp"></span> || <b>
						Unplanned Expense : </b><span id="unplannedExp"></span> || <b>Total
						Expense : </b><span id="totalExpense"></span>
				</div>
			</div>
		</div>
		<div id="overAllStatus" hidden="true">
			<div class="row">
				<div class="col-sm-12">
					<b>Income : </b> <span id="income"></span> || <b>Expense : </b> <span
						id="overAllExpense"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<B> Total Savings : </B> <span id="savings"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>